<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding
                    name="ClientPoint1"
                    closeTimeout="00:01:00"
                    openTimeout="00:01:00"
                    receiveTimeout="00:10:00"
                    sendTimeout="00:01:00"
                    bypassProxyOnLocal="false"
                    transactionFlow="false"
                    hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288"
                    maxReceivedMessageSize="65536"
                    messageEncoding="Text"
                    textEncoding="utf-8"
                    useDefaultWebProxy="true"
                    allowCookies="false" />
			</wsHttpBinding>
			<netTcpBinding>
				<binding
                    name="ClientPoint2"
                    closeTimeout="00:01:00"
                    openTimeout="00:01:00"
                    receiveTimeout="00:10:00"
                    sendTimeout="00:01:00"
                    transactionFlow="false"
                    hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288"
                    maxReceivedMessageSize="65536" />
			</netTcpBinding>

		</bindings>
		<client>
			<endpoint
                name="ClientPoint1"
                address="http://localhost:9061"
                binding="wsHttpBinding"
                contract="Contracts.IContract"
                bindingConfiguration="ClientPoint1" >
			</endpoint>
			<endpoint
					name="ClientPoint2"
					address="net.tcp://localhost:9062"
					binding="netTcpBinding"
					contract="Contracts.ILogin"
					bindingConfiguration="ClientPoint2" >
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>
